extends ./template.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4 Amazing Deals
      p.lead
        | Look for the amazing deals on electronics in the weekly flyers

    