extends ./template.pug

block content
  h1 Welcome to GalaxyStore
  p Where you find what you need   

  

  .row
    .col-sm-3
      .card(style='width: 16rem;')
        img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/launch/rcss/860084_Discount%20RCSS_New%20Website_4upCard_620x420_NewHours_wk14.jpg' alt='...')
        .card-body
        h5.card-title New Store Times
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        a.btn.btn-primary(href='#') Go somewhere

  
    .col-sm-3
      .card(style='width: 16rem;')
        img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/wk15/rcss/wk15_discount_homepagetile_Easter.jpg' alt='...')
        .card-body
        h5.card-title New Store Times
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        a.btn.btn-primary(href='#') Go somewhere

    .col-sm-3
      .card(style='width: 16rem;')
        img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/wk15/rcss/wk15_discount_homepagetile_Indoor.jpg' alt='...')
        .card-body
        h5.card-title New Store Times
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        a.btn.btn-primary(href='#') Go somewhere

    .col-sm-3
      .card(style='width: 16rem;')
        img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/launch/rcss/860084_Discount%20RCSS_New%20Website_4upCard_620x420_Oudoorliving_wk14.jpg' alt='...')
        .card-body
        h5.card-title New Store Times
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        a.btn.btn-primary(href='#') Go somewhere

    