extends ./template.pug

block content
  h1 Welcome to GalaxyStore
  p Where you find what you need   

  

  .row
    .col-sm-3
      .card(style='width: 16rem;')
        img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/launch/rcss/860084_Discount%20RCSS_New%20Website_4upCard_620x420_NewHours_wk14.jpg' alt='...')
        .card-body
        h5.card-title New Store Times
        p.card-text
          | Iste debitis odio explicabo dolore sapiente sunt numquam possimus, eius illum harum voluptate soluta illo maxime quod quas ad veniam ex atque.
        a.btn.btn-primary(href='#') Details

  
    .col-sm-3
      .card(style='width: 16rem;')
        img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/wk15/rcss/wk15_discount_homepagetile_Easter.jpg' alt='...')
        .card-body
        h5.card-title Easter Shopping
        p.card-text
          | ipsum Lorem ipsum dolor, sit amet consectetur adipisicing elit!
        a.btn.btn-primary(href='#') Go somewhere

    .col-sm-3
      .card(style='width: 16rem;')
        img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/wk15/rcss/wk15_discount_homepagetile_Indoor.jpg' alt='...')
        .card-body
        h5.card-title Working fro Home
        p.card-text
          | Voluptates voluptas magnam facilis possimus harum minus neque, tempore numquam.
        a.btn.btn-primary(href='#') Go somewhere

    .col-sm-3
      .card(style='width: 16rem;')
        img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/launch/rcss/860084_Discount%20RCSS_New%20Website_4upCard_620x420_Oudoorliving_wk14.jpg' alt='...')
        .card-body
        h5.card-title Support our Heroes
        p.card-text
          | Placeat doloribus commodi magni possimus sunt, ipsam atque! Distinctio fuga magni veniam iusto sed veritatis accusantium pariatur.
        a.btn.btn-primary(href='#') Go somewhere

    