extends ./template.pug

block content
  #carouselExampleCaptions.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
      li(data-target='#carouselExampleCaptions' data-slide-to='1')
      li(data-target='#carouselExampleCaptions' data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100.h-50(src='https://www.pymnts.com/wp-content/uploads/2020/01/mukeshambani-relianceindustries-retail-amazon-flipkart-india-eCommerce.jpg' alt='...')
        .carousel-caption.d-none.d-md-block
          h5 First slide label
          p Nulla vitae elit libero, a pharetra augue mollis interdum.
      .carousel-item
        img.d-block.w-100.h-50(src='https://beanstalkwebsolutions.com/blog/wp-content/uploads/2016/08/ways-your-website-can-hurt-sales.jpg' alt='...')
        .carousel-caption.d-none.d-md-block
          h5 Second slide label
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .carousel-item
        img.d-block.w-100.h-50(src='https://seethroughweb.com/wp-content/uploads/online-shopping.jpg' alt='...')
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
    a.carousel-control-prev(href='#carouselExampleCaptions' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleCaptions' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next


  h1 Welcome to GalaxyStore
  p Where you find what you need   

  br
  .container-fluid
    .row
      .col-sm-3
        .card(style='width: 16rem;')
          img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/launch/rcss/860084_Discount%20RCSS_New%20Website_4upCard_620x420_NewHours_wk14.jpg' alt='...')
          .card-body
          h5.card-title New Store Times
          p.card-text
            | Iste debitis odio explicabo dolore sapiente sunt numquam possimus.
          a.btn.btn-primary(href='#') Details

    
      .col-sm-3
        .card(style='width: 16rem;')
          img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/wk15/rcss/wk15_discount_homepagetile_Easter.jpg' alt='...')
          .card-body
          h5.card-title Easter Shopping
          p.card-text
            | ipsum Lorem ipsum dolor, sit amet consectetur adipisicing elit!
          a.btn.btn-primary(href='#') Details

      .col-sm-3
        .card(style='width: 16rem;')
          img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/wk15/rcss/wk15_discount_homepagetile_Indoor.jpg' alt='...')
          .card-body
          h5.card-title Working from Home
          p.card-text
            | Voluptates voluptas magnam facilis possimus harum minus neque.
          a.btn.btn-primary(href='#') Details

      .col-sm-3
        .card(style='width: 16rem;')
          img.card-img-top(src='https://clickncollect.s3.us-east-1.amazonaws.com/Common/contentful/launch/rcss/860084_Discount%20RCSS_New%20Website_4upCard_620x420_Oudoorliving_wk14.jpg' alt='...')
          .card-body
          h5.card-title Support our Heroes
          p.card-text
            | Placeat doloribus commodi magni possimus sunt, ipsam atque! 
          a.btn.btn-primary(href='#') Details

  br

  .card.mb-3(style='max-width: 1080px;')
    .row.no-gutters
      .col-md-4
        img.card-img(src='https://live.staticflickr.com/7447/10823285524_76d2785b38_b.jpg' alt='...')
      .col-md-8
        .card-body
          h5.card-title Message from the CEO
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          p.card-text
            small.text-muted Last updated 3 mins ago

  br
  br
  br
